

.page-title{
    align-self: baseline;
    color: #B5CC22;
}

.w {
    width: 80%;
}
.w-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-search-container {
    grid-area: selector-searcher;
    display: grid;
    grid-template-columns: 175px 277px;
    grid-template-rows: 40px;
    grid-template-areas: "selector searcher";
    gap:16px;
}
.selector-container {
    grid-area: selector;
    height: 100%;
    width: 100%;
    .selection-form{
        height: 100%;
        display: flex;
        align-items: center;
        & div ,& input{
            width: 100%;
            height: 100%;
            border: none;
            padding: 0px 0px 0px 10px;
            border-radius: 8px 0px 0px 8px;
            background-color: #efefef;
            cursor: pointer;
            + input{
                height: 100%;
                width: 10px;
                border-color: transparent;
                padding-right: 10px;
                margin-left: 0px;
                border-radius: 0px 8px 8px 0px;
            }
        }
    }
}
.city-selection {
    display: flex;
    align-items: center;
}
.city-selection p{
    width: fit-content;
    margin: 0;
}
.select-list {
    position:absolute;
    width:175px;
    margin-top: 10px;
    border-radius: 8px;
    z-index: 10;
    display: block;
    background-color: #efefef;
    flex-direction: row;
    height: fit-content;
    color:#323232;
    overflow-y: scroll;
    max-height:400px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.select-list::-webkit-scrollbar {
    display: none;
}
.select-list div {
    padding: 10px 10px;
    font-size: 10px;
    cursor: pointer;
}
.select-list div:hover{
    background-color: #ccc;
}

.search-container {
    grid-area: searcher;
    .search-form{
        height: 100%;
        display: flex;
        align-items: center;
        & input{
            width: 100%;
            height: 100%;
            border: none;
            padding: 0px 0px 0px 10px;
            border-radius: 8px 0px 0px 8px;
            background-color: #efefef;
            + input{
                height: 100%;
                width: 10px;
                border-color: transparent;
                padding-right: 10px;
                margin-left: 0px;
                border-radius: 0px 8px 8px 0px;
            }
        }
        & input:focus {
            outline: transparent;
        }
        & input::after {
            outline: transparent;
        }
    }
}

.search-list {
    position:absolute;
    width:277px;
    margin-top: 10px;
    border-radius: 8px;
    z-index: 9;
    display: block;
    background-color: #efefef;
    flex-direction: row;
    height: fit-content;
    color:#323232;
    overflow-y: scroll;
    max-height:400px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.search-list::-webkit-scrollbar {
    display: none;
}
.search-list div {
    padding: 10px 10px;
    font-size: 10px;
    cursor: pointer;
}


.grid-container{
    width: 80%;
    display: grid;
    row-gap:16px;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 40px;
    grid-template-areas: 'selector-searcher selector-searcher . .'
                        'checkbox checkbox img img';
}
.all-checker{
    grid-area: all-checker;
}
.checkbox-image-container{
    grid-area: checkbox;
    .grid-container2{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: 40px;
        grid-template-rows: min-content;
        row-gap: 15px;
        column-gap: 15px;
        & input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        & label {
            display: grid;
            gap: 5px;
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            font-size: 15px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        & input:checked ~ .checkmark {
            background-color: #B5CC22;
        }
        .checkmark {
            justify-self: center;
            position: absolute;
            border-radius: 4px;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #eee;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        & input:checked ~ .checkmark:after {
            display: block;
        }
        .checkmark:after {
            top:0px;
            left:5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.bike-image {
    align-self: end;
    margin-left: 30px ;
    grid-area: img;
    width:80%;
}

.station-table{
    border-collapse: collapse;
    width: 100%;
    & tr th{
        background-color: #B5CC22;
        color: #fff;
    }
    & tr th, & tr td{
        font-size: smaller;
        width: 14.2%;
        text-align: center;  
        padding: 15px 0px;
    }
    & tr:nth-child(even) {
        background-color: #ddd;
    }
    & tr:nth-last-child(1) {
        border-radius: 10px;
    }
}

@media screen and (max-width: 866px){
    body {
        font-size: 9px;
    }
    .w{
        width: 95%;
    }
    .bike-image {
        display: none;
    }
    .grid-container{
        grid-template-rows: 40px 40px;
        grid-template-areas: 'selector-searcher selector-searcher selector-searcher selector-searcher'
                            'selector-searcher selector-searcher selector-searcher selector-searcher'
                            
                            'checkbox checkbox checkbox checkbox';
    }
    .select-search-container {
        width:100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40px 40PX;
        grid-template-areas: "selector""searcher";
    }
    .selection-form{
        width: 100%;
    }
    .select-list{
        width: 95%;
    }
    .search-container{
        width:100%;
    }
    .search-form{
        width:100%;
        justify-self: stretch;
        & input {
            width:100%;
        }
    }
    .search-list{
        width:95%
    }
}